ul{
    list-style-type: none;
    margin-left: 20px;

}

.student__name{
    font-Weight: bold;
    font-size: 33px;
}

.student__img{
    height:100px;
    border-radius: 50%;
    position: relative;
    float: left;
    padding:10px;
    border:1px solid rgb(185, 174, 174);

} 
hr{
    background-color: rgb(230, 232, 235);
}
.new__tags {
    display: inline-block;
    margin: 2px;
    padding: 5px;
    border: 1px solid rgba(202, 202, 197, 0.897);
    background-color: rgba(202, 202, 197, 0.897);
  }