ul{
    list-style-type: none;
    margin-left: 20px;

}

.student__name{
    font-Weight: bold;
    font-size: 33px;
}

.student__img{
    height:100px;
    border-radius: 50%;
    position: relative;
    float: left;
    padding:10px;
    border:1px solid rgb(185, 174, 174);

} 
hr{
    background-color: rgb(230, 232, 235);
}